@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* width: 800px;
    height: 300px; */

}

header {
    background-color: rgb(20, 24, 86);
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.logo {
    text-decoration: none;
    color: darkgoldenrod;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: darkgoldenrod;
    font-weight: 900;
    font-size: 1.1em;
    padding-left: 50px;
}

.navigation a:hover {
    color: bisque;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
}

.main h3 {
    color: darkgoldenrod;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-botton {
    text-decoration: none;
    color: aliceblue;
    background-color: darkgoldenrod;
    padding: 0.9375em 2.1875em;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.7s ease;

}

.main-botton:hover {
    background-color: rgb(125, 93, 11);
    transform: scale(1.1, 1.1);
}

.social-icons a {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    padding-right: 5px;

}

.social-icons a i:hover {
    background-color: rgba(125, 93, 11, 0);
    transform: scale(1.1, 1.1);
}

.tittle {
    display: flex;
    color: darkgoldenrod;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 2.7em;
    font-weight: 900;
}

.contant {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    width: 18em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin-right: 25px;
    text-align: center;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.icon {
    color: rgb(20, 24, 86);
    font-size: 5em;
    padding-bottom: 15px;
}

.info h3 {
    color: darkgoldenrod;
    font-size: 1em;
    font-weight: 800;

}

.projects {
    background-color: rgb(20, 24, 86);
}

.projects .contant {
    margin-top: 30px;
}

.project-card {
    width: 17em;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 252, 252);
    border-radius: 10px;
    min-height: 14em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;


}

.project-card:hover {
    transform: scale(1.1, 1.1);
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-card .project-img img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
    font-weight: 800;
}

.project-tittle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;

}

.project-tittle a {
    text-decoration: none;
    transition: 0.7s ease;
}

.project-tittle a:hover {
    transform: scale(1.1, 1.1);
    color: rgb(165, 179, 14);
}

.contact-card {
    width: 17em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 14em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    text-align: center;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    padding-top: 20px;
}

.footer {
    background-color: rgb(20, 24, 86);
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.footer-tittle {
    font-weight: 800;
    color: aliceblue;
}

.footer-tittle span {
    color: darkgoldenrod;
}

@media (max-width:1023px) {
    header {
        padding: 10px 20px;



    }

    .navigation {
        margin-left: 5px;
    }

    .navigation a {
        padding-left: 15px;
    }

    section {
        padding: 10px 20px;
    }

    .card {
        margin-bottom: 30px;
    }

    .tittle {
        margin-top: 20px;
    }

    #contact .tittle h2 {
        font-size: 0.5em;
    }

    footer .footer-tittle {
        font-size: 0.8em;
    }

    footer .social-icons {
        font-size: 0.8em;
    }
}